<div class="content">
  
  <% @posts_months.each do |month, posts| %>
    <h2><%=h month.strftime('%B %Y') %></h2>
    <% for post in posts %>
      <div>
        <%= post.id %>.
        <%= link_to post.title, post %>
      </div>
    <% end %>
  <% end %>
</div>
