<div class="section">
  <ul id="feeds">
    <li><a href= # ><%= image_tag 'icons/feed.gif', :alt => 'RSS Feed', :size => '16x16' %> RSS Feed</a></li>
    
  </ul>
</div>
<%= render :partial => 'layouts/navigation' %>

<div class="section">
  <strong>标签云:</strong>
  <ul id="tags">
  
  </ul>
</div>

